<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ucm.as_usuario" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presentacion.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.Configuracion"></activity>
        <activity
            android:name=".presentacion.CambiarColor"
            android:theme="@android:style/Theme.Holo.Dialog"/>
        <activity
            android:name=".presentacion.CambiarTono"
            android:theme="@android:style/Theme.Holo.Dialog"/>
        <activity android:name=".presentacion.VerReto"></activity>
        <activity android:name=".presentacion.VerEventos"></activity>
        <activity android:name=".presentacion.Ayuda"></activity>
        <activity android:name=".presentacion.VerInforme"></activity>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
