<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ucm.as_usuario">

    <!-- Permisos requeridos -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Final permisos requeridos -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:theme="@style/AS_tema_azul">

        <activity
            android:name=".presentacion.vista.Bienvenido"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentacion.vista.Decision" />

        <activity android:name=".presentacion.vista.MainActivity" />

        <activity
            android:name=".presentacion.vista.Configuracion"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".presentacion.vista.VerReto" />

        <activity android:name=".presentacion.vista.VerEventos" />

        <activity android:name=".presentacion.vista.Ayuda" />

        <activity android:name=".presentacion.vista.VerInforme" />

        <activity android:name=".presentacion.vista.Registro"
            android:windowSoftInputMode="adjustPan">
        </activity>


        <service
            android:name=".presentacion.notificaciones.ServicioNotificaciones"
            android:enabled="true"
            android:exported="true"
            android:process=":servicio_notificaciones" />

        <receiver android:name=".presentacion.notificaciones.CargarNotificaciones" />
        <receiver android:name=".presentacion.notificaciones.GestorRespuestas" />
        <receiver android:name=".presentacion.notificaciones.NotificacionAlarma" />
        <receiver android:name=".presentacion.notificaciones.NotificacionPregunta" />
    </application>

</manifest>
